@use "base/_reset";
@use "abstracts/_mixins";
@import "base/_colors";

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-image: url("blur-clean.jpg");
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

div {
  @include mixins.boxAll;
  @include mixins.animate;
  @keyframes animacija {
    0% {
      right: -100vw;
    }
    100% {
      right: 0vw;
    }
  }
}

div:nth-of-type(1) {
  background-color: rgba($color1, 0.8);
  animation-delay: 1.5s;
}

div:nth-of-type(2) {
  background: rgba($color2, 0.4);
  animation-delay: 3s;
}

div:nth-of-type(3) {
  background: rgba($color3, 0.5);
  animation-delay: 4.5s;
}
